[Desktop Entry]
Encoding=UTF-8
Icon=text-html
Type=Link
Name=Angle.balance - Angle.balance.pdf.desktop
URL=http://biosystems.okstate.edu/home/fharry/2313/500_AddInfo/136_problems/136.1.traverse/Angle.balance.pdf
