@font-face {
  font-family: 'Burlingame';
  font-style: normal;
  font-weight: 300;
  src: local('Burlingame Pro Light'), local('BurlingamePro-Light'), url(http://fonts.gstatic.com/s/burlingame/v1/GTW8ieF6-wJO--SwAZOfUtkZXW4sYc4BjuAIFc1SXII.woff) format('woff');
}
